<html lang='{{ @site.lang }}'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>

  <title>{{ meta_title }}</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta charset="UTF-8">
  <script type="text/javascript">
    (function(b, r, a, n, c, h, _, s, d, k) {
      if (!b[n] || !b[n]._q) {
        for (; s < _.length;) c(h, _[s++]);
        d = r.createElement(a);
        d.async = 1;
        d.src = "https://cdn.branch.io/branch-latest.min.js";
        k = r.getElementsByTagName(a)[0];
        k.parentNode.insertBefore(d, k);
        b[n] = h
      }
    })(window, document, "script", "branch", function(b, r) {
      b[r] = function() {
        b._q.push([r, arguments])
      }
    }, {
      _q: [],
      _v: 1
    }, "addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setBranchViewData setIdentity track validateCode".split(" "), 0);

    branch.init('key_live_bjGuml6f7W5Z71ToZfx5cpjmxCdCN8Zc');

    function sendSMS(form) {
      var phone = form.phone.value;
      var linkData = {
        tags: [],
        channel: 'Website',
        feature: 'TextMeTheApp',
        data: {
          'foo': 'bar'
        }
      };
      var options = {};
      var callback = function(err, result) {
        if (err) {
          alert("The number you entered already exists");
        } else {
          alert("SMS sent!");
        }
      };
      branch.sendSMS(phone, linkData, options, callback);
      form.phone.value = "";
    }
  </script>

  {{> compiled/inline-css }}

</head>

<body class="bg-gradient-animation text-me">
  <header>
    <a href='{{ @site.url }}'>
      <img class="text-me__logo" src='{{asset 'images/rlove-logo-white-trans.png' }}' alt='{{ @site.title }}'>
    </a>
  </header>

  <div class='o-grid text-me__content'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--4-4-m o-grid__col--4-4-l'>
      <div class="text-me__content-inner">
        <form onsubmit="sendSMS(this); return false;">
          <h1>Download RLOVE</h1>
          <p>
            Enter your mobile number below. Please Include your country code.
          </p>
          <input id="phone" class="c-input" name="phone" type="tel" placeholder="+1 (555) 555-5555" />
          <br />
          <input type="submit" value="Text me the app" class="c-btn c-btn--rounded c-btn--full c-btn--active" />
        </form>
      </div>
      <a href="https://www.rlove.com" class="return-link">Return to rlove.com</a>
    </div>
  </div>

</body>

</html>
