{{!< ../default}}

<div class='o-wrapper'>
  {{#if @member.paid}}
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
      <div class='c-archive'>
        <h2 class='c-archive__title'>{{t "Hello, beautiful!"}}</h2>
        <p class='c-archive__description'>{{t "You are subscribed to {siteTitle} with access to all content. "}}</p>
      </div>
    </div>
  </div>

  {{else if @member}}
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--center o-grid__col--4-4-s o-grid__col--3-4-m o-grid__col--2-4-l'>
        <div class='c-archive'>
          <h2 class='c-archive__title'>{{t "You're subscibed!"}}</h2>
          <p class='c-archive__description'>{{t "You are subscribed to {siteTitle} for conscious content about love & relationships"}}</p>
          <hr>
          <a class='c-btn c-btn--active c-btn--small' href='https://rlove.app.link/web' target="_blank">{{t 'Download the app'}}</a>
        </div>
      </div>
    </div>

  {{else}}
    {{!-- Not logged in: Redirect to signin --}}
    <script>window.location = '{{@site.url}}/signin/';</script>
  {{/if}}
</div>
